body {
  background-image: 
url('file:///Users/nickolasreinert/Documents/GitHub/nickreinert.github.io/free-nature-images.jpg');
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "Papyrus";
}