body {
  background-color: #000000;
}

hr {
    border: 1px solid #003a76; width: 100%; margin: 10px auto;
}
h1 {
  font-family: Helvetica;
  color: white;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: Helvetica;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  float: center;
  color: white;
  font-family: Helvetica;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #003a76;
  color: white;
  text-decoration: underline;
}

.topnav a.active {
  background-color: #000000;
  color: white;
  text-decoration: none;
}