* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	margin: 0;
}

body {
  background-image: url("AbstractPainting(red)GerhardRichter.webp");
  margin: 0;
}

.encode-sans-expanded-thin {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
}

hr {
    margin: 0;
    margin-bottom: 10px;
  	border: 0;
	border-top: 1px solid #b50000; width: 100%; margin: 0;
}
h1 {
  margin: 0; /* Ensure no margin on the header */
  font-family: "Encode Sans Expanded", sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  text-align: left;
  font-size: 40px;
  background-color: #000000;
}

h2 {
  font-family: "Encode Sans Expanded", sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
}


p {
  font-family: "Encode Sans", sans-serif;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.topnav a {
  margin-top: 10px;
  background-color: #000000;
  overflow: hidden;
  float: center;
  color: white !important;
  font-family: "Encode Sans", sans-serif;
  text-align: center;
  padding: 10px 16px;
  font-size: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #b50000;
  color: white !important;
  text-decoration: none !important;
}

.topnav a:active {
  color: white !important;
}


.topnav a:visited {
  color: white !important;
}